
/* *********  General Settings  ********** */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root {
    /*--main-color: #3867d6;*/
    --main-color: #ffab15;
    --sold-out: #d73715;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /*text-transform: capitalize;*/
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #444;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

body {
    background: #222;
}

section {
    padding: 2rem 9%;
}

/* ******* Heading ******** */

.heading {
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
}

.btn:hover {
    background: var(--main-color);
}

/* *******  Header  *********  */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}

/* ********   Navbar   ******** */
.header .logo span {
    color: var(--main-color);
}

.header .navbar a {
    font-size: 2rem;
    color: #fff;
    margin-left: 2rem; /*margin-right*/
    text-transform: capitalize;
}

.header .navbar a:hover {
    color: var(--main-color);
}

.header .navbar .sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 1rem;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.header .navbar .sub-menu-wrap.open-menu {
    max-height: 400px;
}

.header .navbar .sub-menu-wrap .sub-menu {
    background: #333;
    padding: 15px;
    margin: 5px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    /*max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;*/
}

/*.header .navbar .sub-menu-wrap .sub-menu.open-menu {
    max-height: 400px;
}*/

.header .navbar button {
    background-color: #333;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    font-size: 2rem;
    padding: 10px 10px;
    margin: 5px 10px 5px 20px;
    cursor: pointer;
}

.header .navbar button:hover {
    background-color: var(--main-color);
    color: #fff;
}


#menu-bars {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* ********  Home   ********* */
.home .content {
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 70rem;
}

.home .content h3 {
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.home .content h3 span{
    color: var(--main-color);
    text-transform: uppercase;
}

.home .home-slider .swiper-slide {
    overflow: hidden;
    border-radius: .5rem;
    height: 50rem;
    width: 35rem;
}

.home .home-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ********  Services  ********* */

.service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    text-transform: capitalize;
}

.service .box-container .box {
    border-radius: .5rem;
    background: #333;
    text-align: center;
    padding: 2.5rem;
}

.service .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 3.5rem;
    background: var(--main-color);
    color: #fff;
}

.service .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
}

.service .box-container .box p {
    font-size: 1.6rem;
    color: #eee;
    line-height: 1.8;
}

/* ********  About  **********  */
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-transform: capitalize;
}

.about .row .image{
    flex: 1 1 45rem;
    padding: 1rem;
}

.about .row .image img{
    width: 100%;
    border-radius: .5rem;
    border: 1rem solid #333;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: #fff;
}

.about .row .content p{
    font-size: 2.2rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 2;
}

/*--------------------- Events ----------------------*/

.price .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.price .box-container .box {
    padding: 2rem 0;
    background: #333;
    border-radius: .5rem;
    text-align: center;
    text-transform: capitalize;
}

.price .box-container .box:hover {
    transform: scale(1.03);
}

.price .box-container .box .title {
    background: var(--main-color);
    color: #fff;
    padding: 1.5rem 0;
    font-size: 3rem;
}

.price .box-container .box .price,
.price .box-container .box .date {
    color: #fff;
    padding-top: 2rem;
    font-size: 4rem;
}

.price .box-container .box ul {
    list-style-type: none;
    padding: 1rem 0;
}

.price .box-container .box ul li {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.price .box-container .box ul li i{
    color: var(--main-color);
    padding-right: .5rem;
}

/* --------------- Contact form ----------------------*/

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
    width: 100%;
    background: #333;
    border-radius: .5rem;
    padding: 1rem;
    margin: .7rem 0;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
    color: #eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
    background: #444;

}

.contact form .inputBox input {
    width: 49%;
}

.contact form textarea{
    resize: none;
}

/*  ------------------- Footer ----------------------  */

.footer {
    background: #111;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box a:hover i {
    padding-right: 1.5rem;
    color: #fff;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid #222;
    color: #fff;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span {
    color: var(--main-color);
}

/* -------------  Login  ----------------*/

.login-container {
    padding: 8rem 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    /*background: var(--main-color);*/
    box-shadow: 0 0 50px var(--main-color);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
}

.login-container .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-450px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 450px;
    left: 0;
}

.wrapper.active .form-wrapper.sign-up {
    transform: translateY(-450px);
}

.login-container .form-wrapper h2 {
    font-size: 30px;
    color: #fff;
}

.login-container .form-wrapper h3 {
    font-size: 18px;
    color: var(--sold-out);
}

.login-container .form-wrapper .input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.login-container .form-wrapper .input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-container .form-wrapper .input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.login-container .form-wrapper .input-group input:focus~label,
.login-container .form-wrapper .input-group input:valid~label {
    top: -5px;
}

.login-container .form-wrapper .remember {
    margin: -5px 0 15px 5px;
}

.login-container .form-wrapper .remember label {
    color: #fff;
    font-size: 16px;
}

.login-container .form-wrapper .remember label input {
    accent-color: var(--main-color);
}

.login-container .form-wrapper button {
    position: relative;
    width: 100%;
    height: 40px;
    background: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    font-size: 20px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.login-container .form-wrapper .signUp-link {
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}

.login-container .form-wrapper .signUp-link p {
    color: #fff;
}

.login-container .form-wrapper .signUp-link p a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
}

.login-container .form-wrapper .signUp-link p a:hover {
    text-decoration: underline;
}


/* **********  Media Queries **********  */

@media (width > 991px) {

    .header .navbar .sub-menu-wrap {
        right: 11rem;
    }

}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-bars {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background-color: #222;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
    }

    .home .content h3 {
        font-size: 4rem;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .home .home-slider .swiper-slide {
       width: 27rem;
    }

    .contact form .inputBox input {
        width: 100%;
    }
}